# Byte‐compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
.env.*             # any other .env files
# But don’t ignore the template
!.env.template

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# Logs and temporary files
*.log
*.tmp
*.pid

# Docker
docker-compose.override.yml
*.env.yaml
*.env.local
docker-compose*.yml
*.tar
